.input-boxs{
    width: 40%;
    display: flex;
    height: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-boxs input{
    width: 23%;
    height: 100%;
}